@import url("../fonts/fonts.css");

/* html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
} */

#start {
    height: 878px;
    background-image: url(../img/start-bg.jpg);
    background-size: cover;
    background-position: center;
}

nav {
    height: 212px;
}

#start .logo {
    margin-right: 24px;
}

#start .main_link {
    color: #efefef;
    font-family: Roboto;
    font-size: 39px;
    font-weight: 400;
}

#start .item1_link {
    color: #c9ced7;
    font-family: "Roboto - Thin Italic";
    font-size: 19px;
    font-weight: 400;
}

h1 {
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 50px;
    margin-top: 214px;
}

#start p {
    color: #c5d2e5;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 57px;
    line-height: 39.85px;
}

#start .btn-lg {
    width: 253px;
    height: 75px;
    background-color: #67bf95;
    border-color: #67bf95;
    color: #ffffff;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 400;
}

#start .login-bt {
    width: 83px;
    height: 38px;
    background-color: #3d4b60;
    border-color: #3d4b60;
    color: #cad1db;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 21px;
}

#about {
    height: 485px;
    background-image: url(../img/section2-bg.jpg);
    background-size: cover;
    background-position: center;
}

#about h2 {
    color: #37414e;
    font-family: "Roboto Slab";
    font-size: 38px;
    font-weight: 400;
    margin-bottom: 27px;
    margin-top: 142px;
}

#about p {
    color: #4b596c;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 39.85px;
    margin-bottom: 131px;
}

#about .sheet_object {
    margin-top: 97px;
    margin-bottom: 129px;
}

/* #about .btn-circle {
    width: 68px;
    height: 68px;
    border-radius: 35px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    white-space: normal;
    background-color: #67bf95;
    border-color: #67bf95;
    font-family: "Font Awesome";
    font-size: 33px;
    font-weight: 400;
} */

/* #about .btn-circle fa-facebook {
    width: 68px;
    height: 68px;
    border-radius: 35px;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    white-space: normal;
    background-color: ;
    border-color: #67bf95;
    font-family: "Font Awesome";
    font-size: 33px;
    font-weight: 400;
}  */

#section5 {
    height: 170px;
    background-image: url(../img/section-5.jpg);
    background-size: cover;
    background-position: center;
}

#section5 h2 {
    color: #4b596c;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 500;
    margin-top: 65px;
}

#contact {
    height: 1158px;
    background-image: url(../img/contact-bg.jpg);
    background-size: cover;
    background-position: center;
}

#formGroupExampleInput {
    width: 449px;
    height: 93px;
    border: 2px solid rgba(190, 57, 59, 0.49);
    background-color: #2f3136;
    margin-bottom: 74px;
}

#formGroupExampleInput2 {
    width: 449px;
    height: 93px;
    border: 2px solid rgba(255, 255, 255, 0.52);
    background-color: #2f3338;
}

#formGroupExampleInput3 {
    width: 542px;
    height: 317px;
    border: 2px solid rgba(255, 255, 255, 0.52);
    background-color: #34383c;
    margin-bottom: 87px;
}

.input {
    color: #d7d7d7;
    font-family: Roboto;
    font-size: 33px;
    font-weight: 500;
}

.asterisk {
    color: #be393b;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 500;
}

#contact .btn-lg {
    width: 219px;
    height: 88px;
    background-color: #be393b;
    border-color: #be393b;
    color: #ffffff;
    font-family: Roboto;
    font-size: 34px;
    font-weight: 700;
    line-height: 30.84px;
    text-transform: uppercase;
    padding: 30px 66px 30px 64px;
}

.contact-icon {
    margin-top: 119px;
    margin-bottom: 93px;
}

#footer {
    height: 193px;
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    background-position: center;
}

#footer .brandName {
    color: #efefef;
    font-family: Roboto;
    font-size: 27px;
    font-weight: 400;
}

#footer .footer-text {
    color: #8d8d8d;
    font-family: "Roboto Medium";
    font-weight: 500;
    font-size: 17px;
}